.error {
  color: red
}

.normal {
  color: green
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.bloglist {
  padding-top: 2px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 2;
  border: solid;
  border-radius: 5px;
  border-width: 1;
  
  padding: 10px;
}

.blog {
  padding-top: 10;
  padding-left: 2;
  border: none;
  border-width: 1;
  margin-bottom: 5
}

.navigation {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 2px;
  margin-top: 0px;
  background:lightgrey;
}